
@font-face {
    font-family: "agenda";
    src: url(./fonts/AgendaMediumExtraCondensed.ttf) format("truetype");
}

@font-face {
    font-family: "agendalight";
    src: url(./fonts/AgendaLightExtraCondensed.ttf) format("truetype");
}
.wrapper {
  width: 1000px;
  height: 550px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}
.sidebar {
  width: 200px;
  height: 100%;
  border:1px solid #ddd;
}
.main-div  {
  position: relative;
  width: 800px;
  height: 100%;
  border:1px solid #ddd;
  border-left: none;
  background-image: url(https://www.sare-infographic.com/images/farm-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.sidebar-btn {
  width: 97%;
  padding:5px 20px 5px 5px;
  text-align: left;
  border:2px solid;
  border-radius: 0;
  border-bottom:none;
  border-color: purple;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-family: "agendalight", Verdana, Tahoma;
  font-size: 21px;
  text-transform: uppercase;
}

#main_title h4 {
  background: rgba(74, 120, 52, .85);
  margin-bottom: 0;
  margin: 3px;
  font-size: 1.5rem;
  font-weight: normal;
}

#main_title {
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  top: 25px;
  width: 35%;
  position: absolute;
  left: 300px;
  font-family: "agendalight", Verdana, Tahoma;
}

.sidebar-btn:first-child {
  margin-top: 3px;
}

.sidebar-panel {
 width: 95%;
 border:2px solid; 
 border-top:none;
 margin-left: 3px;
 margin-right: 3px;
 margin-bottom: 3px;
}


.sidebar-panel.active {
  height:425px;
  transition: all 5s;
}