
@font-face {
    font-family: "agenda";
    src: url(./fonts/AgendaMediumExtraCondensed.ttf) format("truetype");
}

@font-face {
    font-family: "agendalight";
    src: url(./fonts/AgendaLightExtraCondensed.ttf) format("truetype");
}
.wrapper {
  width: 1080px;
  height: 605px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}
.sidebar {
  width: 18%;
  height: 100%;
  border:1px solid #ccc;
  background-color: #e6e6e6;
}
.main-div  {
  position: relative;
  width: 82%;
  height: 100%;
  border:1px solid #ccc;
  border-left: none;
  background-image: url(https://www.sare-infographic.com/images/farm-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sidebar-btn {
  width: 97%;
  padding:5px 20px 5px 5px;
  text-align: left;
  border:2px solid;
  border-radius: 0;
  border-bottom:none;
  border-color: purple;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-family: "agendalight", Verdana, Tahoma;
  font-size: 21px;
  text-transform: uppercase;
}

#main_title h4 {
  background: rgba(74, 120, 52, .85);
  margin-bottom: 0;
  margin: 3px;
  font-size: 1.5rem;
  font-weight: normal;
}

#main_title {
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  top: 25px;
  width: 35%;
  position: absolute;
  left: 300px;
  font-family: "agendalight", Verdana, Tahoma;
}

.sidebar-btn:first-child {
  margin-top: 3px;
}

.sidebar-panel {
 width: 95%;
 border:2px solid; 
 border-top:none;
 margin-left: 3px;
 margin-right: 3px;
 margin-bottom: 3px;
}


.sidebar-panel.active {
  height:478px;
  transition: all 5s;
}
.manage_icons {
  position: absolute;
  width: 40px;
  height: auto;
  cursor: pointer;
}
.manage_icons.one {
  top:222px;
  left:144px;
}

.manage_icons.two {
  top:369px;
  left:402px;
}

.manage_icons.three {
  top:226px;
  right:406px;
}

.manage_icons.four {
  bottom:272px;
  right:220px;
}

.manage_icons.five {
  bottom:319px;
  right:105px;
}

.manage_icons.six {
  top:102px;
  right:361px;
}

.manage_icons.seven {
  bottom:235px;
  left:90px;
}
.manage_icons.eight {
  bottom:204px;
  left:140px;
}

.manage_icons.nine {
  bottom:174px;
  left:195px;
}

.manage_icons.ten {
  bottom:144px;
  left:250px;
}

.manage_icons.eleven {
  bottom:114px;
  left:300px;
}

.manage_icons.twelve {
  bottom:84px;
  left:355px;
}

.manage_icons.thirteen {
  bottom:49px;
  left:410px;
}

.manage_icons.fourteen {
  bottom:21px;
  left:465px;
}
#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255,255,255,0.5);
  right:0;
  z-index: 1;
}
#close {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding:5px 10px;
    color: #fff;
    font-size: 1em;
    border: 1px solid #ccc;
    background-color: #000;
    opacity: 0.8;
    border-radius: 4px;
    cursor: pointer;
}

.desc_frame.red {
  background-color: rgba(171, 22, 27, 0.8); 
  height: 197px; 
  width: 250px; 
  display: block;
}
.desc_frame.blue {
  background-color: rgba(67, 135, 190, 0.8); 
  height: 180px; 
  width: 240px; 
  display: block;
}
.desc_frame.purple {
  background-color: rgba(136, 55, 96, 0.8); 
  height: 180px; 
  width: 215px; 
  display: block;
}
.desc_frame {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
}
.desc_frame div {
  font-family: "agendalight", Verdana, Tahoma;
  font-size: 17px;
  line-height: 1.2rem;
  padding: 5px;
  position: absolute;
  border:1px solid #fff;
}
.desc_frame_div {
  top: 7px;
  bottom: 7px;
  left: 5px;
  right: 5px;
  color: #fff;
  font-weight: normal;
}
.shb_icon_menu.icons.practices:first-child {
  padding-top: 15px;
}
.shb_icon_menu.icons.practices {
  height:calc(100%/6);
}
.shb_icon_menu.icons img {
  display: inline-block;
  width: 30%;
  height:auto;
  margin-left: 5px;
  cursor: pointer;
}
.shb_icon_menu.icons div {
 display: inline-block; 
 position: relative;
 top:-12px;
 width: 60%;
 word-wrap: break-word;
 padding-left: 5px;
}
